<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
</head>
<body>
<div class="container">
    <h2>Approvisionner un produit</h2>
    <form th:action="@{/produit/approv}" th:object="${unProduit}" method="post">

        <input type="hidden"  th:field="*{id}" class="form-control">
        <div class="mb-3">
            <label class="form-label">Libelle</label>
            <input type="text" th:field="*{libelle}"  class="form-control" placeholder="Libellé du produit">
        </div>
        <div class="mb-3">
            <label class="form-label">Quantité</label>
            <input type="text" name="quantite" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>

</div>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>