<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Mofifier un produit</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
</head>
<body>
<div class="container">
    <h2>Formulaire de modification de produit</h2>

    <form th:action="@{/produit/edit}" th:object="${unProduit}" method="post">
        <div class="mb-3">
            <input type="hidden" th:field="*{id}"  name="id" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Libelle</label>
            <input type="text" th:field="*{libelle}"  class="form-control" placeholder="Libellé du produit">
        </div>
        <div class="mb-3">
            <label class="form-label">Quantité seuil</label>
            <input type="number" th:field="*{qte_seuil}" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Prix </label>
            <input type="number" th:field="*{prix}"  class="form-control">
        </div>
        <div class="mb-3">
            <input type="hidden" th:field="*{date_creation}" class="form-control">
            <input type="hidden" th:field="*{qte_stock}" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Category </label>
            <select name="categorie_id" class="form-label">
                <option value="" class="form-control" > Selectionner une catégorie</option>
                <option th:each="category:${listCategorie}"
                        th:value="${category.id_cat}"
                        th:text="${category.designation}" class="form-control">
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>

</div>

<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>