<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Formulaire d'approvisionnement</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
</head>
<body>
<div class="container">
    <h2>Formulaire d'approvisionnement</h2>

    <form th:action="@{/approvisionner/save}" method="post">
        <div class="mb-3">
            <label class="form-label">Produit</label>
            <select name="produit_id" required >
                <option value="" class="form-control" > Selectionner un produit</option>
                <option th:each="produit:${listProduits}"
                        th:value="${produit.id}"
                        th:text="${produit.libelle}" class="form-control">
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Quantité</label>
            <input type="text"  name="quantite" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
</div>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>